<div class="container-fluid homeHeight">
    <div class="homepage row">
        <div class="col-md-4"></div>
        <div class="col-md-4 homebox center">
            <h1 class="text-center">LOGIN PAGE</h1>
            <br>
            <section class="text-center">
                <div class="example-button-row">
                    <a class="btn btn-primary" href="/dashboard">Proceed</a>
                </div>
            </section>
            <div class="clearfix"></div>
            <br>
            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-4"></div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- <app-navbar></app-navbar> -->